<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <script src="https://cdn.tailwindcss.com"></script>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css"
/>
  </head>
  <style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html,body{
        height: 100%;
        width: 100%;
    }
    .menu{
      background-color: #FFF8E3;
      backdrop-filter: blur(20px);
      padding: 150px 60px;
      font-weight: 500;
      margin-bottom: 10px;
      position: absolute;
      top: 0%;
      
      right: -35%;

      
      
    }
    .movement,.movement2,.movement3,.movement4{
    width: fit-content;
    /* background-color: black; */
    color: rgb(0, 0, 0);
    overflow: hidden;
    
    height:8vh ;
}


.movement,.movement2,.movement3,.movement4 h1{
  line-height: 3.5vw;
  position: relative;
  
}
 


    
    
    
  </style>
  <body>
    <!-- <div id="loader">
      <div class="load">
        <div id="timer">
          <h4>0</h4>
          <h5>- 100</h5>
        </div>
        <h1>DocCare</h1>
      </div>
      <div class="load">
        <h1 class="load-h1">Health Hospital . . . . . </h1>
      </div>
      <div class="load">
        <h1>is loading right</h1>
        <h2>Now</h2>
      </div> -->
    <!-- </div> -->
    <div id="wrapper" class="overflow-x-hidden" >
      <div id="page1" class="relative h-screen w-full">
        <div class="menu h-screen w-[35%] pt-40 z-10  top-0 ">
            <div class="movement">
                <h1 id="head1" class="text-[3vw] mt-1 font-semibold cursor-pointer">HOME</h1>
                <h1 id="head2" class="text-[3vw] mt-1 font-semibold cursor-pointer">HOME</h1>
            </div>
           <div class="movement2 mt-4">
              <h1 id="head1" class="text-[3vw] mt-1 font-semibold cursor-pointer">SERVICES</h1>
              <h1 id="head2" class="text-[3vw] mt-1 font-semibold cursor-pointer">SERVICES</h1>
          </div>
          <div class="movement3 mt-4">
            <h1 id="head1" class="text-[3vw] mt-1 font-semibold cursor-pointer">FIND A DOCTOR</h1>
            <h1 id="head2" class="text-[3vw] mt-1 font-semibold cursor-pointer">FIND A DOCTOR</h1>
        </div>
        <div class="movement4 mt-4">
          <h1 id="head1" class="text-[3vw] mt-1 font-semibold cursor-pointer">CONTACT</h1>
          <h1 id="head2" class="text-[3vw] mt-1 font-semibold cursor-pointer">CONTACT</h1>
      </div> 
           

            <i class="ri-close-large-fill absolute top-[5%] right-[7%] px-4 p-3 font-bold bg-zinc-300 rounded-[50%] cursor-pointer"></i>
        
        </div>
        <div class="nav px-20 py-6  w-full flex items-center justify-between">
          <div class="nav-l flex items-center">
            <img src="/images/logo.png " class=" h-[60px]">
            <h2 class="text-2xl font-bold mt-4">DocCare<span class="text-2xl text-teal-500 ">.</span></h2>
          </div>
         
          <div class="nav-r">
            <img class="h-10 cursor-pointer" src="/images/menu.png" alt="">
          </div>
        </div>
        <div class="cen h-[85.3%] w-full flex">
          <div class="cen-l pl-20 pt-36 w-[65%] ">
            <h1 class="text-[5.5vw] leading-[8vw] tracking-tighter font-bold text-teal-600">Take Care of Your</h1>
            <div class="flex items-center">
                <div class="h-20 w-32 rounded-lg  overflow-hidden">
                  <img src="/images/img7.gif" class="w-full h-full overflow-hidden" alt="">
                </div>
              <h1 class="text-[5.5vw] leading-[5.5vw] tracking-tighter text-white   font-bold ">Health Anytime</h1>
            </div>
            <h1 class="text-[5.5vw] leading-[5.5vw] tracking-tighter text-white  font-bold">Anywhere<span class="text-teal-600">.</span></h1>

            <p class="text-teal-900 font-semibold mt-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Animi commodi aliquid at quo voluptates quae?</p>
          </div>
          <div class="cen-r flex relative w-[35%]">
            <img src="/images/img5.png " class="h-56 absolute top-[30%] left-[-5%]" alt="">
            <img src="/images/img6.png " class="h-60 absolute top-[55%] right-[5%]" alt="">
            <img src="/images/img1.png " class="rounded-3xl h-56 absolute top-[10%] right-[5%]" alt="">
          </div>
        </div>
      </div>
      <div id="page2 relative " class="w-full h-[90vh] flex flex-col">
        <hr class="h-[2px] w-[30%] ml-auto mr-auto bg-[#8f8989c9] ">
        <div class="page2-inner w-full pt-32 flex flex-col  items-center ">
          
          <h4 class="uppercase text-center text-xl text-[#050A44] font-bold">Fastest solution</h4>
          <h1 class="text-[3vw] font-[gilroy] font-bold text-[#ED7745]">4 easy steps to get your Solution</h1>
          <div class="page2-cards flex gap-14 mt-14">
            <div class=" p-4 flex flex-col  items-center ">
              <img src="/images/img9.png" alt="" class="h-14 w-14">
              <h3 class="text-xl font-bold mt-6 text-[#050a44]">Search Doctor</h3>
              <p class="text-gray-500 w-64 mt-3 text-center">We're here  to help whenever you feel ill, but keeping you healthy is our better priority</p>
            </div>
            <div class=" p-4 flex flex-col  items-center ">
              <img src="/images/img8.png" alt="" class="h-14 w-14">
              <h3 class="text-xl font-bold mt-6 text-[#050a44]">Check doctor profile</h3>
              <p class="text-gray-500 w-64 mt-3 text-center">We're here  to help whenever you feel ill, but keeping you healthy is our better priority</p>
             </div>
             <div class=" p-4 flex flex-col  items-center ">
              <img src="/images/img10.png" alt="" class="h-14 w-14">
              <h3 class="text-xl font-bold mt-6 text-[#050a44]">Schedule Appointment</h3>
              <p class="text-gray-500 w-64 mt-3 text-center">We're here  to help whenever you feel ill, but keeping you healthy is our better priority</p>
             </div>
              <div class=" p-4 flex flex-col  items-center ">
              <img src="/images/img11.png" alt="" class="h-14 w-14">
              <h3 class="text-xl font-bold mt-6 text-[#050a44]">Get your Solution</h3>
              <p class="text-gray-500 w-64 mt-3 text-center">We're here  to help whenever you feel ill, but keeping you healthy is our better priority</p>
             </div>
        </div>
       
      </div>
      
      
    </div>
    <div id="page3" class="w-full h-screen  flex items-center justify-center">

      <div class="page3-inner w-full flex items-center">
        <div class="pg3-left pl-28  w-[55%]" >
          <h3 class="uppercase ml-3 text-xl tracking-tighter font-bold text-[#050A44]">Find doctors</h3>
          <h1 class="text-[3.5vw] tracking-tighter font-bold text-teal-600 leading-none mt-4">Consult a doctor anytime,<br>
            anywhere by search

          </h1 >
          <p  class="text-gray-500 w-96 mt-6 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam dolorem autem voluptates, fuga reprehenderit dolorum maiores et cum doloremque molestias eveniet obcaecati suscipit molestiae!</p>

          <button class="px-8 py-4 bg-teal-500 text-2xl border-[#928d8d] hover:bg-teal-700 hover:text-white ease-in-out to-lime-400 hover:scale-[0.95] border-[1px] bg-transparent mt-8 rounded-tr-3xl  rounded-bl-3xl">Find Doctors</button>

        </div>
        <div class="pg3-right">
          <div class="img-div h-96 w-[90%] rounded-3xl bg-red-400 overflow-hidden drop-shadow-2xl">
            <img src="/images/img12.jpeg" class="h-full w-full object-fill" alt="">
          </div>
        </div>
      </div>
      
    </div>
   <div id="page4" class="h-screen w-full flex mt-20">
    <div class="page4-l pl-28 h-full w-[50%]">
      
        <h3 class="uppercase ml-3 text-xl tracking-tighter font-bold text-[#050A44]">User reviews</h3>
        <h1 class="text-[3.5vw] tracking-tighter font-bold text-teal-600 leading-none mt-4">Read the best reviews<br>
          from our user

        </h1 >
        <p  class="text-zinc-700 font-semibold  w-96 mt-6 ">"Discover why our users love us! Dive into heartfelt testimonials highlighting our exceptional care and service. See why we're their top choice for healthcare needs."</p>


        <img src="/images/im13.png" class="h-64 ml-[400px] -mt-[80px]" alt="">

      
    </div>
    <div class="page4-r h-full w-[50%]">
      
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide ">
        <article class="profile">
          <div class="profile-image">
            <img src="./images/img5.png" />
          </div>
          <h2 class="profile-username">Elena Zoldado</h2>
          <small class="profile-user-handle">@elena_zoldado</small>
         
          <p class="text-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore corrupti voluptatem ipsa dolor molestias. Autem molestias, veniam aliquid nemo eveniet nisi, dolores doloribus consequuntur corporis iure repellendus cumque et facere!</p>
         
        </article>
      </div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
      <div class="swiper-slide">Slide 4</div>
      <div class="swiper-slide">Slide 5</div>
      <div class="swiper-slide">Slide 6</div>
      <div class="swiper-slide">Slide 7</div>
      <div class="swiper-slide">Slide 8</div>
      <div class="swiper-slide">Slide 9</div>
    </div>
  </div>
    </div>
    
  </div>
  <div id="page5" class="h-screen w-full">
    
  </div>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
    integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
      integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
